# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

short-hash.json
coverage-summary.json
coverage
# dependencies
/node_modules
/.pnp
.pnp.js
test-report.xml 
# testing
/coverage
junit.xml
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


short-hash.json

.idea

storybook-static

base-path.json
.env
test-report.xml
/reports/*

# Dist directory
/dist